[submodule "sources/jdb"]
	path = sources/jdb
	url = git@github.com:Trisconta/jdb.git
[submodule "rsamples"]
	path = rsamples
	url = ../rsamples.git
[submodule "sources/private/contactos"]
	path = sources/private/contactos
	url = ../contactos.git
[submodule "sources/unidecode"]
	path = sources/unidecode
	url = git@github.com:Trisconta/unidecode.git
