[submodule "sources/jdb"]
	path = sources/jdb
	url = git@github.com:Trisconta/jdb.git
[submodule "rsamples"]
	path = rsamples
	url = ../rsamples.git
[submodule "sources/unidecode"]
	path = sources/unidecode
	url = git@github.com:Trisconta/unidecode.git
[submodule "sources/private/contactos"]
	path = sources/private/contactos
	url = ../contactos.git
[submodule "external/snippets/dividas"]
	path = external/snippets/dividas
	url = git@gist.github.com:5808ca276be64b4ec75e42c58f24c608.git
